:root   {
    --mainColor: #c1c1c1;
    --secondaryColor: #f0f1ff;
    --borderColor: #fff3f3;
    --mainText: #ffffff;
    --secondaryText: #cccccc;
    --background: #000000;
    --dotsWrapper: #000000;
    --h5: #303030;
    --preview: #000000;
    --borderColor1: #ff0000;
    --borderColor2: #000000;
    --btnColor: #bafffe;
    --body: #000000;
    --colorA: #ffffff;
    --Colorh3: #ffffff;
    --navWrapper: #000000;
    --body1: #000000;
}
