:root   {
    --mainColor: #c1c1c1;
    --secondaryColor: #f0f1ff;
    --borderColor: #000;
    --mainText: #ffffff;
    --secondaryText: #cccccc;
    --background: #003100;
    --dotsWrapper: #003100;
    --h5: #303030;
    --preview: #003100;
    --borderColor1: #ff0000;
    --borderColor2: #095909;
    --btnColor: #000000;
    --body: #003100;
    --colorA: #00b8bf;
    --Colorh3: #ffffff;
    --navWrapper: #003100;
    --body1: #003100;
}
